.header {
    height: 65px;
    background-color: rgb(233, 6, 40);
    background-position: center;
}
.header_list {
    list-style: none;
    display: flex;
    /* flex-wrap: wrap; */
}
.header_item {
    display: inline-block;
    font-size: 1.2rem;
    color: aliceblue;
    margin: 0 auto;
}