
.head1 {
    height: 50px;
    width: 100%;
    background-color: #ad171c;
    position: fixed;
    top: 0;
}
.header_item {
    display: inline-block;
    font-size: 1.2rem;
    color: aliceblue;
}
.head2 {
    height: 100vh;
    position: absolute;
    box-sizing: border-box;
    top: 55px;
    width: 80vmax;
    border: aliceblue solid 2px;
}
.bar {
    text-transform: uppercase;
    background-color: #ad171c;
    font-size: 1.2rem;
    color: aliceblue;
    padding: 20px;
}
.block1 {
    height: 100px;
    width: 200px;
    background-color: white;
    position: absolute;
    top: 60px;
    border: aliceblue solid 2px;
}
.img {
    height: 200px;
    width: 100%;
    background-image: url(https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/428254180_3502294040083843_1379124727778817166_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=SclR1pt5uoYAX8zKaDI&_nc_ht=scontent.fhan2-3.fna&oh=00_AfCpWXsiaKrTGlBNgkvXOwYvLXF9UWxQoc4yxDxqYQkdBg&oe=65E0CE5D);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
}
.block2 {
    position: absolute;
    left: 210px;
}
td {
    width: 50%;
    text-align: left;
}
.head3 {
    position: absolute;
    top: 55px;
    left: 1240px;
    background-color: white;
    height: 100vh;
    width: 20vmax;
}
.bar_head3 {
    text-transform: uppercase;
    background-color: #ad171c;
    font-size: 1.2rem;
    color: aliceblue;
    padding: 20px;

}